<div class="container">
  <h1>User Information</h1>
  <h2>User ID = <%= @user.id %></h2>
  <h2>User Name = <%= @user.name %></h2>
  <h2>Created At = <%= @user.created_at %></h2>


  <%= link_to 'Home', '/' %>
</br>
  <%= link_to 'Log Out', 'sign_out' %>
</div>
